.words-section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  width: 100vw;
  background-image: url(../../../dist/bbg.jpg);
}

.words-container {
  justify-content: center;
  height: 95vh;
  width: 35vw;
}

.cards-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 0.5rem;
  display: grid;
  padding: 1rem;
}

.games-video {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: 0;
  left: 0;
  top: 0;
}

.letters-overlay {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  filter: brightness(0.7);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  left: 0;
  top: 0;
}

/* Tablet Responsiveness*/
@media screen and (min-width: 430px) and (max-width: 800px) {
  .words-container {
    justify-content: center;
    margin-top: 5rem;
    width: 70vw;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .words-section {
    height: 100%;
  }

  .words-container {
    justify-content: center;
    width: 90vw;
  }

  .cards-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.restart-button {
  background-color: #077bad;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px #207398;
}

.restart-button:hover {
  background-color: #58b3da;
}
