.culinary-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgb(237, 240, 250);
}

.culinary-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: calc(100vh- 8rem);
  border-radius: 5rem;
  background: #d0e5fa;

  box-shadow: 20px 20px 60px #b5c5ff, -20px -20px 60px #ffffff;
}

.culinary-title {
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'TherenRegular';
  margin-bottom: 20px;
  font-size: 4.5rem;
  background: linear-gradient(
    to right,

    rgb(140, 140, 247),
    indigo,
    violet,
    red,
    rgb(255, 166, 0),
    green
  );
  -webkit-background-clip: text;
  color: transparent;
}

select {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  z-index: 10; /* Bring the card to the front when hovered */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.flip-card-back {
  background-color: #e0f5f8;
  color: black;
  transform: rotateY(180deg);

  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.h2-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 800;
}

.h3-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: 600;
}

.ul-class-meal-page,
.ol-class-meal-page {
  text-align: center;
  padding-left: 20px;
}

.ul-class-meal-page .li-class-meal-page,
.ol-class-meal-page .li-class-meal-page {
  margin-bottom: 5px;
}
