.schedule-call-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -115px;
  padding: 20px;

  border-radius: 10px;
}
.psycoicon {
  font-size: 100px;
}
.schedule-call-container h2 {
  font-size: 24px;
  color: #0a1f0f;
  margin-bottom: 20px;
  text-align: center;
}

.schedule-call-container .description1 {
  font-size: 16px;
  color: #0a1f0f;
  text-align: center;
  margin-bottom: 20px;
}

.schedule-call-container .datepicker-container {
  margin-bottom: 20px;
}

.schedule-call-container .react-datepicker__input-container {
  width: 100%;
}

.schedule-call-container .react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.schedule-call-container .react-datepicker {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-call-container button {
  display: block;
  width: 20%;
  margin-left: 330px;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2d9bd2;
  transition: background-color 0.3s ease;
}

.schedule-call-container button:hover {
  background-color: #0056b3;
}

.schedule-call-container .error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.schedule-call-container .scheduled-time {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
